// refont
$body-font-family: 'Raleway', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
/*$global-font-size: 115%;*/

@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-everything;

// set max width
main {
    max-width: $global-width;
    margin: auto;
    padding: 1rem;
}

// make navbar be better
$navbar-color: scale_color($dark_gray, $lightness: -15%);
$navbar-color-hover: scale_color($navbar-color, $lightness: -20%);

.top-bar {
    color: $navbar-color;
    /*margin-bottom: 1rem;*/
    border-bottom: rem-calc(1) solid $medium-gray;
}

.menu li a {
    color: $navbar-color;

    &:hover {
        color: $navbar-color-hover;
        border-bottom: rem-calc(1) solid $medium-gray;
    }

    &.active {
        border-bottom: rem-calc(1) solid $primary-color;
    }
}

// skinnier fonts
.lead {
    font-weight: 200;
    font-size: 112.5%;

    @include breakpoint(medium) {
        font-size: 150%;
    }
}

#brand {
    font-weight: 500;
    font-size: 125%;
}

// better space separation for top headings on small screens
h1, h2, h3 {
    overflow: hidden;
    //centered
    /*text-align: center;*/
    // right align
    /*text-align: right;*/

    &:after, /*&:before*/ {
        background-color: $light-gray;
        content: "";
        display: inline-block;
        height: rem-calc(2);
        position: relative;
        vertical-align: middle;
        width: 100%;

        // left align
        left: 0.5rem;
        margin-right: -100%;
        // right align
        /*right: 0.5rem;*/
        /*margin-left: -100%;*/
    }
    // centered
    /*&:before {*/
    /*    right: 0.5em;*/
    /*    margin-left: -50%;*/
    /*}*/
    /*&:after {*/
    /*    left: 0.5em;*/
    /*    margin-right: -100%;*/
    /*}*/
    /*border-bottom: rem-calc(3) solid $light-gray;*/

    @include breakpoint(medium) {
        &:after {
            content: none;
        }
    }
}

/*.divider {*/
/*    margin-top: -0.5em;*/
/*    margin-bottom: 0.5em;*/
/*    border-bottom: rem-calc(3) solid $light-gray;*/

/*    @include breakpoint(medium) {*/
/*        border: none;*/
/*    }*/
/*}*/

